/*// FONT FAMILY HELPERS :)
// font-family: 'Oswald', sans-serif;
// font-family: 'Merriweather', serif;
// font-family: 'Source Sans Pro', sans-serif;*/

body {
	margin: 0;
	font-family: Merriweather, sans-serif;
	font-size: 11px;
	text-decoration: none;
	background-color: white;
}

.wrapper {
/*	background-color: lightgrey;*/
    background-image: url("../img/coworking.jpg");
    background-size: contain;
	background-repeat: no-repeat;
   	height: 968px;
	width: 1280px;
	padding: 0px;
	margin: 0px;
}



/*<-- begin header -->*/
/*<-- PLEASE NOTE: this is totally janky!!! negative values
to align stuff properly? what's that about?! I would really 
like to know how to make this better. But I want to keep on 
working. -->*/
header {
	background-color: black;
	height: 40px;
	width: 1220px;
	padding: 30px;
	margin: 0px;
}

h1 {
	color: yellow;
	font-family: "Merriweather", serif;
	font-size: 36px;
	font-weight: none;
	margin-left: 10px;
	margin-top: -8px;
/*	float: left;*/
}

nav {
/*	background-color: yellow;*/
	margin-top: -60px;
	margin-right: -20px;
	padding-top: -10px;
	padding-right: 10px;
	float: right;
}

ul {
/*    color: lightgrey;*/
	font-family: "Source Sans Pro", sans-serif;
	font-size: 22px;
    list-style-type: none;
    text-align: right;
    margin: 0px;
    padding: 0px;
}

li {
	display: inline-block;
	margin-right:-4px;

}

li a:link, a:visited {
    height: 0px;
    width: 130px;
    background-color: none;
    color: white;
    text-decoration: none;
/*    text-align: right;*/
    font-weight: bold;
    padding: 10px;
}

li a:hover, a:active {
/*    background-color: green;*/
	color: yellow;
}
/*<-- end header -->*/



/*<-- begin section-1 -->*/
.section-1 {
	height: 100px;
	width: 1280px;
	display: inline-block;
	background-color: #C6C6C6;
	padding: 0px;
	margin: 0px;
/*	border: 6px dotted green;*/
	border-top: 5px solid yellow;
}

.tagline {
	font-family: "Merriweather", serif;
	font-size: 30px;
	color: black;
	display: block;
	text-align: center;
	font-style: italic;
	padding: 30px;
	margin: 0px;
}

.taste {
	color: grey;
	text-decoration: line-through;
}

.are {
	text-decoration: underline;
	text-decoration-color: yellow;
}
/*<-- end section-1 -->*/



/*<-- begin section-2 -->*/
.section-2 {
	height: 420px;
	width: 1280px;
/*    background-image: url
("../img/coworking.jpg");*/
    padding: 0px;
    margin: 0px;
/*    overflow: hidden;*/
}

.box-create-profile {
	height: 330px;
	width: 480px;
	background-color: white;
	opacity: .75;
	margin: 42px;
	padding-left: 20px;
	padding-right: 20px;
/*	border: 5px white;*/
/*	border-style: outset;*/
	box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.75), 0 5px 5px 0 rgba(0, 0, 0, 0.75);
	color: black;
	float: right;
}

.box-create-profile h2 {
	font-family: "Merriweather", serif;
	font-size: 25px;
}

.box-create-profile p {
	font-family: "Source Sans Pro", sans-serif;
	font-size: 20px;
	font-weight: bold;
}

/*<-- I have 2 button classes, one for this section-2
specific button, and another lower down in the CSS
for all buttons. they both work but something is funky
with the text alignment, etc. D: !!! -->*/
.box-create-profile .button {
	font-family: "Oswald", sans-serif;
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
}
/*<-- end section-2 -->*/



/*<-- begin section-3 -->*/
.section-3 {
	height: 270px;
	width: 1230px;
	background-color: #e2e2e2;
	padding: 25px;
	margin: 0px;
}

.section-3 h2 {
	font-family: "Merriweather", serif;
	font-size: 25px;
}

.section-3 p {
	font-family: "Source Sans Pro", sans-serif;
	font-size: 20px;
	font-weight: bold;
}

.section-3 .button {
	font-family: "Oswald", sans-serif;
	font-size: 20px;
	text-transform: uppercase;
}

.box {
	background-color: #e2e2e2;
	padding-left: 20px;
	padding-right: 20px;
/*	margin-left: 10px;*/
	float: left;
}

.box-left {

/*	font-family: */
/*	font-size: inherit;*/
	height: 250px;
	width: 370px;
/*	padding: 0px;*/
	margin: 0px;

}

.box-middle {

	height: 250px;
	width: 366px;
/*	padding: 0px;*/
	margin: 0px;
	border-top: 0px;
	border-right: 1px solid #b8babc;
	border-bottom: 0px;
	border-left: 1px solid #b8babc;

}

.box-right {
	height: 250px;
	width: 370px;
/*	padding: 0px;*/
	margin: 0px;

}

.button {
	height: 60px;
	width: 100%;
	text-align: center;
	display: inline-block;
	background-color: yellow;
	opacity: 1.0;
	border-radius: 5px;
	padding-top: 14px;
}

.boxes-button {
	background-color: #C6C6C6;
}
/*<-- end section-3 -->*/


footer {
	background-color: black;
	height: 20px;
	width: 1220px;
	padding: 30px;
	margin: 0px;
}

.footer-text {
	color: white;
	display: inline;
	font-family: Source Sans Pro, sans-serif;
	font-size: 24px;
	padding: 0, auto;
}

.clearfix:after {
   content: ".";
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}
