



body {
	text-align: center;
	border-top: solid black 20px;
	border-bottom: solid black 20px;
	background-color: bbbbbb;

}

h1 {
	font-size: 66px;
	color: navy;
	text-align: center;
}

h3 {
	font-size: 24px;
	color: aqua;
	text-transform: uppercase;
}

p {
	text-align: center;
}

#box {
	background-color: bbbbbb;
	width: 80%;
	margin-right: 20px;
	margin-left: 20px;
}

hr {
	width: 70%;
}

ul {
	list-style-position: center;
}

.photo {
	border: solid black 3px;
	border-width: 1px;
	width: 220px;
	height: 220px;
	float: right;
	clear: right;
}

#first-p {
	text-decoration: none;
}

.other-ps {
	background-color: none;
}
